<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="header" th:fragment="bodyHeader">
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <div class="sidebar-menu">
        <div class="sidebar-header">
            <div class="logo">
                <a><img src="/images/ordericon.png" alt="logo" class="img-responsive"></a>
            </div>
        </div>
        <div class="main-menu">
            <div class="menu-inner">
                <nav>
                    <ul class="metismenu" id="menu">
                        <li class="active">
                            <a href="javascript:void(0)" aria-expanded="true"><i
                                    class="ti-dashboard"></i><span>회원 기능</span></a>
                            <ul class="collapse">
                                <li class="active"><a href="/members/new">회원 등록</a></li>
                                <li class="active"><a href="/members">회원 정보</a></li>
                            </ul>
                        </li>
                        <li class="active">
                            <a href="javascript:void(0)" aria-expanded="true"><i
                                    class="ti-dashboard"></i><span>상품 기능</span></a>
                            <ul class="collapse">
                                <li class="active"><a href="/items/new">상품 등록</a></li>
                                <li class="active"><a href="/items">상품 목록</a></li>
                            </ul>
                        </li>
                        <li class="active">
                            <a href="javascript:void(0)" aria-expanded="true"><i
                                    class="ti-dashboard"></i><span>주문 기능(미완성)</span></a>
                            <ul class="collapse">
                                <li class="active"><a href="/order">상품 주문</a></li>
                                <li class="active"><a href="/orders">주문 목록</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <!-- 사이드 바 메뉴 -->
    <div class="header-area">
        <div class="row align-items-center">
            <!-- nav and search button -->
            <div class="col-md-6 col-sm-8 clearfix">
                <div class="nav-btn pull-left">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <!-- profile info & task notification -->
            <div class="col-md-6 col-sm-4 clearfix">
                <ul class="notification-area pull-right">
                    <li id="full-view"><i class="ti-fullscreen"></i></li>
                    <li id="full-view-exit"><i class="ti-zoom-out"></i></li>

                </ul>
            </div>
        </div>
    </div>

</div>